@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Fonts */
  --primaryfont: Hanken Grotesk;
  /* Colors */
  --lightRed: hsl(0, 100%, 67%);
  --orangeyYellow: hsl(39, 100%, 56%);
  --greenTeal: hsl(166, 100%, 37%);
  --cobaltBlue: hsl(234, 85%, 45%);
  --white: hsl(0, 0%, 100%);
  --paleBlue: hsl(221, 100%, 96%);
  --lightLavender: hsl(241, 100%, 89%);
  --darkGrayBlue: hsl(224, 30%, 27%);
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--primaryfont);
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 740px;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: row;
}
#result_side {
  flex-basis: 50%;
  padding: 40px 60px 55px 60px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(120, 87, 255, 1) 0%,
    rgba(46, 43, 233, 1) 50%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
#result_side h3 {
  color: var(--lightLavender);
  font-weight: 700;
  margin-bottom: 35px;
}
#result_side .grade_circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    rgba(78, 33, 202, 0.9023984593837535) 0%,
    rgba(36, 33, 202, 0.4990371148459384) 50%,
    rgba(36, 33, 202, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#result_side .grade_circle h1 {
  font-size: 55px;
  font-weight: 800;
  color: var(--white);
}
#result_side .grade_circle span {
  font-size: 16px;
  color: var(--lightLavender);
  font-weight: 700;
  opacity: 0.5;
}
#result_side h2 {
  color: var(--white);
  font-weight: 700;
  margin-top: 20px;
}
#result_side p {
  color: var(--lightLavender);
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
}
#summary_side {
  flex-basis: 50%;
  padding: 40px 40px 45px 40px;
  display: flex;
  flex-direction: column;
}
#summary_side h3 {
  color: var(--darkGrayBlue);
  font-weight: 700;
  margin-bottom: 13px;
}
#summary_side .summary {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  margin-top: 15px;
  border-radius: 10px;
}
#summary_side .summary .title {
  display: flex;
  align-items: center;
}
#summary_side .summary .title h4 {
  font-weight: 500;
  margin-left: 14px;
}
#summary_side .summary .number_obtained p {
  display: inline;
  color: var(--darkGrayBlue);
}
#summary_side span {
  color: var(--darkGrayBlue);
  opacity: 0.5;
}
#summary_side .reaction {
  background: #ffe6e6;
}
#summary_side .reaction .title h4 {
  color: var(--lightRed);
}
#summary_side .memory {
  background: #fff6e6;
}
#summary_side .memory .title h4 {
  color: var(--orangeyYellow);
}
#summary_side .verbal {
  background: #e6fff9;
}
#summary_side .verbal .title h4 {
  color: var(--greenTeal);
}
#summary_side .visual {
  background: #e7eafd;
}
#summary_side .visual .title h4 {
  color: var(--cobaltBlue);
}
#summary_side button {
  background: var(--darkGrayBlue);
  border: none;
  border-radius: 30px;
  margin-top: 32px;
}
#summary_side button:hover {
  background: linear-gradient(
    180deg,
    rgba(120, 87, 255, 1) 0%,
    rgba(46, 43, 233, 1) 50%
  );
  transition: 0.3s all;
}
#summary_side button a {
  color: var(--white);
  display: block;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
    border-radius: 0;
  }
  #result_side {
    border-radius: 0 0 30px 30px;
  }
}
